.wrapper-home {
  height: 80vh;
  background: rgb(131, 200, 255);
  background: linear-gradient(
    180deg,
    rgba(131, 200, 255, 1) 0%,
    rgba(195, 231, 255, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
}

.leaflet-container,
.leaflet-tile-container {
  height: 400px;
  width: 200px;
}

.leaflet-container,
.leaflet-tile-container {
  width: 100% !important;
}
