body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#searchBox {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.btnSearch {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.card-transparent {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.wrapper-icon {
  height: 120px;
  width: 120px;
  position: absolute;
  top: -15px;
  right: -15px;
  float: right;
  background-color: #fff;
  text-align: center;
  border-radius: 100px;
  vertical-align: middle;
  box-shadow: 3px 3px 6px #bbbbbb;
  border: 5px solid skyblue;
}
